body{
    font-family: 'inter',sans-serif;
}
#titulo{
    font-family: 'playfair Display',serif;
    text-align: center;
}
header {
    background-color: red;
    display: flex;
    padding: 10px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; /* clave para que ocupe todo */
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
    text-decoration: none;
}

.Links {
    padding: 10px;
}
img{
    width: 25px;
    height: auto;
}

button{
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    font-size: 14px;

}

.botons{
    display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;     /* Centra verticalmente (si el contenedor tiene altura) */
  height: 100vh;           /* Ejemplo para centrar en toda la pantalla */
    margin: 10px;
}

a{
    text-decoration: none;
    color: inherit;
}